<main>
  <input type="text" [formControl]="searchBook" list="recommend" />
  <button (click)="emptyInput()">Empty</button>
  <hr />
  <section>
    <div
      class="recommend"
      *ngFor="let item of booklist; let i = index"
      [ngClass]="{
        recommendSelect: i === recommendIndex
      }"
      (click)="selectRecommend(item)"
      (mouseover)="mouseoverEvent(i)"
    >
      <img [src]="item.bookimg" alt="" />
      <span>
        {{ item.bookname }}
      </span>
    </div>
  </section>
</main>
