<!-- <p>web-rtc-rmt works!</p> -->

<section class="offer">
  <div>
    <label for="offer">2. Get Offer SDP: </label>
    <textarea
      type="text"
      id="offer"
      [(ngModel)]="offer"
      rows="10"
      cols="40"
    ></textarea>
  </div>
</section>

<section class="answer">
  <div>
    <label for="answer">3. Create Answer SDP: </label>
    <textarea
      type="text"
      id="answer"
      [(ngModel)]="answer"
      rows="10"
      cols="40"
    ></textarea>
    <div>
      <button (click)="createAnswer()">Create Answer</button>
    </div>
  </div>
</section>

<div>
  <button (click)="sendMessage()">Send Message</button>
</div>
