<!-- <div id="videos">
  <video
    src=""
    class="video-player"
    id="user-1"
    autoplay
    [playsInline]="true"
    #user1
  ></video>
  <video
    src=""
    class="video-player"
    id="user-2"
    autoplay
    [playsInline]="true"
    #user2
  ></video>
</div> -->

<section class="offer">
  <div>
    <label for="offer">Offer: </label>
    <textarea type="text" id="offer" [(ngModel)]="offer"></textarea>
    <div>
      <button (click)="createOffer()">Create Offer</button>
    </div>
  </div>
</section>

<section class="answer">
  <div>
    <label for="answer">Answer: </label>
    <textarea type="text" id="answer" [(ngModel)]="answer"></textarea>
    <div>
      <button (click)="createAnswer()">Create Answer</button>
    </div>
  </div>
</section>

<div>
  <button (click)="createConnection()">Create Connection</button>
  <button (click)="sendMessage()">Send Message</button>
</div>
