<!-- <div id="videos">
  <video
    src=""
    class="video-player"
    id="user-1"
    autoplay
    [playsInline]="true"
    #user1
  ></video>
  <video
    src=""
    class="video-player"
    id="user-2"
    autoplay
    [playsInline]="true"
    #user2
  ></video>
</div> -->

<section class="offer">
  <div>
    <label for="offer">1. Create Offer SDP: </label>
    <textarea
      type="text"
      id="offer"
      [(ngModel)]="offer"
      rows="10"
      cols="40"
    ></textarea>
    <div>
      <button (click)="createOffer()">Create Offer</button>
    </div>
  </div>
</section>

<section class="answer">
  <div>
    <label for="answer">4. Get Remote SDP: </label>
    <textarea
      type="text"
      id="answer"
      [(ngModel)]="answer"
      rows="10"
      cols="40"
    ></textarea>
    <div>
      <button (click)="createConnection()">Create connection</button>
    </div>
  </div>
</section>

<div>
  <button (click)="sendMessage()">Send Message</button>
</div>
